html {zoom: 100%;}
*{box-sizing: border-box;}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    padding:0;
    background-color: ivory;
    text-align: left;
    min-width: 200px;
}

/*Header stuff*/
.homepage {
    width: 100%;
    margin: 0;  
}
.homepage img{
    width: 100%;
    height: auto;
    padding: 1rem 2vw;
    overflow: hidden;
}

figcaption {
    position: absolute;
    resize: block;
    margin: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    width: 100%;
    height: auto;
}

header h1 {
    color: #046219;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}
header p {
    text-align: center;
    color: rgb(237, 228, 228);
    letter-spacing: .5px;
}

/*Navigation stuff*/

/* small screens*/
@media only screen and (max-width: 900px) {
    nav ul{
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #046219;
        color: black;
    }
    nav li.active a {
        background-color: #0b7909;
        background-image: linear-gradient(to right, #0b7909, #046219);
        color: white;
    }
} /*end of the media query*/

/*BIG screens*/
@media only screen and (min-width: 601px) {

nav {
    background-color: #046219;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    display: block;
    padding: 0.83rem 2rem;
}

nav li.active a{
    background-color: #0b7909;
    color: #FAEDCD;
}
nav a:hover{
    color: #fff;
}
}  /*end of the media query*/

/*Main Stuff*/

h2{
    margin-top:0;
    margin-bottom:.5rem;
    color: maroon;
}

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

main {
    padding: 1rem 2vw;
}

#welcome{
    background-color: rgba(255,255,255,0.8);
    display:inline-block;
    margin:3rem;
    padding:1rem 2rem 1rem 2rem ;
    text-align: left;
}

main address {
    text-align: center;
    color:#046219;
    padding: .5rem;
}

.page{
    background-color: white;
    display:inline-block;
    padding:1rem;
    text-align: left;
    border-radius: 5px;
    border: 2px lightgrey solid;
}

#welcome p{
    line-height: 1.1rem;
    font-weight: bold;
}

#hamburger{
    cursor: pointer; 
    /*background-color:white; */
    color:black; 
    padding:4px;
    margin:0;
    /*font-size: 1.2rem;*/
}

.tools{
    color:grey;
    cursor:pointer;
}

.tools:hover{
    color:green;
}

.inventory-table{
    background-color: lightgrey;

}

.inventory-table th {
    color: #046219;
    background-color: lightyellow;
    margin:1px;
    padding: 4px 8px 4px 8px;
}
.inventory-table td {
    color: black;
    margin:1px;
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
    text-align: right;

}

.working{
    background-image: url(images/progresswheel.gif);
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
}

.inventory-table input {
    width:100%;
    border:none;
    text-align: right;
    background-color: transparent;
}

.sticky{
    position:sticky;
    top:0;
}

.hidden{
    display:none;
}
.inactive{
    background-color: lightyellow;
}
.active{
    background-color: white;
}

th{
    background-color: #eee;
}

#header-image-menu{
    top: 10px;
    position: relative;
}

#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}
